Om=0.27 #Omega_Matter
Ol=0.73 #Omega_Lambda
h0=0.70 #h0

SCALEFILE = "/Volumes/Peter 1/Bolshoi/Coarse_DescScales.txt"
INBASE = "/Volumes/Peter 1/Bolshoi/Coarse"
OUTBASE = "/Volumes/Peter 1/Bolshoi/Coarse_Outputs"
TREE_OUTBASE = "/Volumes/Peter 2/Bolshoi/Coarse_Trees"
HLIST_OUTBASE = "/Volumes/Peter 2/Bolshoi/Coarse_Trees"

BOX_DIVISIONS=1
BOX_WIDTH=250

MIN_TIMESTEPS_TRACKED = 15
MAX_PHANTOM_FRACTION = 0.25

MAJOR_MERGER=0.3 #The merger ratio which constitutes a major merger
MIN_MMP_MASS_RATIO=0.6 #The minimum mass for a progenitor to be considered an MMP
MIN_MMP_VMAX_RATIO=0.7 #The minimum vmax for a progenitor to be considered an MMP

PADDING_TIMESTEPS=1 #Don't kill halos if they have link problems during the last 1 timestep.

LAST_DITCH_SEARCH_LIMIT=1.0 #For connecting halos which have "moved" up 
			    #to this amount times their virial radius
LAST_DITCH_VMAX_RATIO_1=1.4  # For connecting halos which have "moved"
			     # unphysical amounts
LAST_DITCH_VMAX_RATIO_2=2.5 
MAX_PHANTOM=4       # max timesteps to keep phantom halo
MAX_PHANTOM_SMALL=2 # max timesteps to keep small phantom halo
SMALL_PARTICLE_LIMIT=49 # Halos smaller than this size get
			# kept around for less time.
                      	# SHOULD NOT BE SET TO MORE THAN 50 for BOLSHOI
			# and BDM results.
TIDAL_FORCE_LIMIT=0.1
RECURSION_LIMIT=5
METRIC_LIMIT=7
METRIC_BREAK_LIMIT=3.2 #Below which we break a link.
MASS_RES_OK=1e11 #Halo mass above which there are probably
		 #not resolution issues.

